<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<head>
	<meta charset="UTF-8">
	<title>Desafio Back-End</title>
</head>
<body>
	<h1>
		<span>
			<a href="http://www.decheryweb.com.br/" target="_blank">Pierre Dechery</a>
		</span>
		Desafio Back-End
	</h1>
	<div id="root"></div>
	<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
	<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
	<script type="text/babel" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>